@use '../utils/' as *;

.login-body {
    width: 15rem;
    margin: auto;
    @include border();
    text-align: center;

    * {
        margin-top: 10px;
    }
}

.login-title {
    font-size: 2.5rem;
}