@use '../utils/' as *;

.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background {
    img {
        aspect-ratio: 16/9;
        width: 40rem;
        height: 15rem;
        border-radius: 30px;
    }
}

.profile-picture {
    position: absolute;
    margin-top: 10rem;

    img {
        aspect-ratio: 1/1;
        width: 7.5rem;
        height: 7.5rem;
        border: 4px whitesmoke solid;
        border-radius: 50px;
    }
}

.user-info {
    margin-top: 2.5rem;
    text-align: center;

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        width: 30rem;
        font-size: 1.25rem;
    }
}

.profile-body {

    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    margin: auto;

    .card {
        margin: auto;
        margin-top: 1rem;
        height: 25rem;
        width: 15rem;
        border: 3px black solid;
    }
}

@media (max-width: 50rem){
    .profile-header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .background {
        img {
            aspect-ratio: 16/9;
            width: 20rem;
            height: 7.5rem;
            border-radius: 30px;
        }
    }
    
    .profile-picture {
        position: absolute;
        margin-top: 5rem;
    
        img {
            aspect-ratio: 1/1;
            width: 3.75rem;
            height: 3.75rem;
            border: 2px whitesmoke solid;
            border-radius: 50px;
        }
    }
    
    .user-info {
        margin-top: 1.25rem;
        text-align: center;
    
        h1 {
            font-size: 1.25rem;
        }
    
        h2 {
            width: 15rem;
            font-size: 1rem;
        }
    }
}