@use '../utils/' as *;

.forgot-password-body {
    width: 20rem;
    margin: auto;
    @include border();
    text-align: center;

    * {
        margin-top: 10px;
    }
}

.recovery-title {
    font-size: 2.5rem;
}

.recovery-button {
    margin-bottom: 10px;
    background: linear-gradient(45deg, $main-color, $secondary-color);
    font-size: 1.25rem;
    color: white;
    border: 2px black solid;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
        background: linear-gradient(45deg, $secondary-color, $main-color)
    }
}