@use '../utils/' as *;

.show-creator-swap-panel {
    display: none;
    text-align: center;
    margin: 10px;
    font-size: 1.5rem;

    a {
        color: $secondary-color;
        text-decoration: none;
        cursor: pointer;

        &:hover {
            border-bottom: 2px $secondary-color solid;
        }
    }
}

.go-to-preview {
    margin-left: 10px;
}

.go-to-editor {
    margin-right: 10px;
}

.selected {
    border-bottom: 2px $secondary-color solid;
}

.show-creater-body {
    display: flex;
    flex-direction: row;
    width: 70rem;
    margin: auto;

    * {
        margin: auto;
    }
}

.show-inputs {
    width: 30rem;
    height: 40rem;
    display: inline-flexbox;
    text-align: center;

    @include border();
    background-color: whitesmoke;
}

.show-preview {

    width: 30rem;
    height: 40rem;
    display: inline-flexbox;
    text-align: center;
    
    @include border();
    background-color: whitesmoke;
}


.show-creator-submit {
    display: flex;
    margin: auto;
    font-size: 2rem;
}

@media (max-width: 70rem){
    .show-creator-swap-panel{
        display: block;
    }

    .show-creater-body {
        width: 100%;
    }

    .show-preview {
        display: none;
        flex-direction: column;
        width: 25rem;
        height: 35rem;
        margin: auto;
    }

    .show-inputs {
        @include border();
        background-color: whitesmoke;
        display: flex;
        flex-direction: column;
        width: 25rem;
        height: 35rem;
        margin: auto;
        
        * {
            font-size: 1.5rem;
            margin: 10px;
        }

        button {
            width: fit-content;
            margin: auto;
            margin-bottom: 5px;
        }
    }
}