@use '../utils/' as *;

header {
    display: flex;
    flex-direction: row;
    margin: 1.5rem;
}

.logo {
    display: flex;
    flex-direction: row;

    h1 {
        font-family: $title-font;
        font-size: 3rem;
        height: 100%;
        margin-top: 50%;
        transform: translateY(-70%);
    }
}

.search {
    margin: 1.5rem;
    margin-left: 3.5rem;

    input {
        width: 35rem;
        font-size: 2rem;
    }

    .icon {
        font-size: 2rem;
        cursor: pointer;
    }
}

.user {
    margin-left: 2.5rem;
    font-size:1.5rem;
    margin-top: 10%;
    transform: translateY(-105%);
    cursor: pointer;
}