@use '../utils/' as *;

header {
    display: flex;
    flex-direction: row;
    @include border-bottom();
    margin: 1rem;
    padding: 1rem;

    background-color: whitesmoke;
    
    * {
        margin: auto;
    }
}

.logo {
    display: flex;
    flex-direction: row;
    cursor: pointer;

    img {
        margin-top: -0.5rem;
    }
    h1 {
        font-family: $title-font;
        font-size: 3rem;
        text-align: center;
    }
}

.search {

    input {
        width: 50vw;
        font-size: 2rem;
    }

    .icon {
        margin-left: 0.5rem;
        font-size: 2rem;
        cursor: pointer;
    }
}

.user {
    font-size:1.5rem;
    cursor: pointer;
}

@media (max-width: 85rem){
    header {
        display: flex;
        flex-direction: column;

        * {
            margin-top: 10px;
        }
    }
}