@use '../utils/' as *;

.show-body {
    display: flex;
    flex-direction: row;
    width: 50vw;
    margin: auto;
}

.show-image {
    height: 80vh;
    width: 25vw;
    margin: 5px;
    @include border();

    img {
        height: 100%;
        width: 100%;
        border-radius: 8px;
    }
}

.show-contents {
    height: 80vh;
    width: 25vw;
    margin: 5px;

    @include border();
}

.show-details {
    height: 50%;
    width: 100%;

    overflow: scroll;

    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    p {
        width: 95%;
        margin: auto;
        margin-top: 5px;
        text-align: center;
        font-size: 1.5rem;
    }
}

.show-comments {
    height: 49%;
    width: 100%;
    overflow: scroll;

    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.comment {

    display: flex;
    flex-direction: row;
    height: 4rem;
    width: 90%;
    align-items: center;
    justify-content: flex-start;
    margin: auto;

    img {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        cursor: pointer;
    }

    p {
        height: 2.5rem;
        overflow: scroll;
        margin-left: 5px;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.create-comment {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    bottom: 5px;

    img {
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }

    .write-comment {
        margin-left: 5px;
        width: 75%;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    button {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: 1px blue solid;
        color: blue;
        background-color: rgba(0, 0, 255, 0.5);
        transition: 0.4s;
        cursor: pointer;

        &:hover {
            background-color: rgba(0, 0, 255, 1);
            color: white;
        }
    }
}

.white-space {
    height: 4rem;
    width: 100%;
}


.no-comment {
    svg {
        display: block;
        margin: auto;
        margin-top: 0.5rem;
    }

    p {
        text-align: center;
        margin-top: 1rem;
    }
}


.bar {
    height: 1px;
    width: 90%;
    background-color: black;
    margin: auto;
}